@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");
/* font-family: 'Rubik', sans-serif; */
/* Global style */
* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}
body {
  background-color: black;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  width: 100%;
  height: auto;
}
/* navigation bar */
.menu-slide {
  width: 100%;
  height: 100vh;
  background-color: #eceff1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: absolute;
  top: -100vh;
  left: 0;
  transition: 500ms ease-in-out;
  z-index: 3;
}
.menu-widget {
  width: 20%;
  padding: 2rem;
  /* background-color: grey; */
}
.menu-widget ul {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.menu-widget ul li {
  padding: 0.1rem;
}
.menu-widget ul li a {
  display: block;
  color: #9e9e9e;
  padding: 1rem;
  transition: 0.5s;
  border-radius: 50px;
}
.menu-widget ul li a:hover {
  color: #212121;
}
.menu-icon-times i {
  font-size: 2rem;
  position: relative;
  top: 1rem;
  left: 0rem;
  color: #111111;
  z-index: 1;
  cursor: pointer;
}

.menu-icon-bars i {
  color: #fafafa;
  font-size: 1.5rem;
  position: relative;
  cursor: pointer;
}
.menu-icon-bars {
  margin-left: 5rem;
}
nav {
  position: absolute;
  top: 0;
  left: 0;
  align-items: center;
  width: 100%;
  height: 15vh;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  z-index: 2;
}
.logo-image img {
  width: 4rem;
  border-radius: 100%;
  margin-left: 3rem;
}
#divider {
  width: 1px;
  height: 1.7rem;
  background-color: #fafafa;
  margin-left: 3rem;
}
.menu-search {
  margin-left: 1rem;
  display: flex;
  color: #9e9e9e;
}
.search-icon {
  padding-right: 0.5rem;
}
#search-box input {
  border: none;
  padding: 0.2rem;
  background: none;
  outline: none;
  border-radius: 20%;
  color: #fff;
}
#search-box input::placeholder {
  color: #9e9e9e;
}
.hero {
  width: 100%;
  height: 120vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2) 20%,
      rgba(0, 0, 0, 1) 100%
    ),
    url(images/Very-Cool-Backgrounds-HD.jpg) center no-repeat;
  background-size: cover;
  z-index: 1;
  transition: 0.3s;
}
.hero:hover {
  background-position: center left 1rem;
}
.hero-post {
  display: flex;
  padding-top: 15rem;
  width: 80%;
  height: auto;
  align-items: center;
  margin: auto;
  z-index: 3;
}
.position-replacer {
  width: 50%;
}
.hero-post-title {
  width: 50%;
}
.hero-post-title h1 {
  font-size: 2rem;
  color: #fafafa;
}
/* most visited posts */
.most-visited-posts {
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
}
.visited-post-slider {
  width: 100%;
  height: 65vh;
  display: flex;
  justify-content: space-around;
}
.visited-post-card {
  width: 18%;
  height: 65vh;
  border-radius: 1rem;
  background: linear-gradient(
      rgba(242, 113, 33, 0.1) 10%,
      rgba(233, 64, 87, 0.5) 60%,
      rgba(138, 35, 135, 0.8) 100%
    ),
    url(images/logo.jpg) center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  transition: 0.5s;
  position: relative;
  top: 0;
  left: 0;
}
.visited-post-card:hover {
  top: -1rem;
  background-position: 100% 50%;
}

.visited-post-all-description {
  color: #ffffff;
  font-size: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
}
/* all last posts */
.last-posts {
  width: 100%;
  height: 90vh;
}
.last-uploaded-post {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.last-post {
  background: url(images/logo.jpg) center no-repeat;
  background-size: cover;
  width: 30%;
  height: 30vh;
  border-radius: 1rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.all-post-title {
  position: relative;
  top: 30vh;
  display: none;
  transition: all 0.3s;
  padding: 1rem;
  transform: translateY(50%);
}
.last-post:hover .all-post-title {
  top: 0;
  display: block;
}
footer {
  width: 100%;
  height: 50vh;
  background-color: #2e2e2e;
}
.footer-widgets {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: space-around;
}
.copyrights {
  width: 100%;
  height: 5vh;
  text-align: center;
  color: #fafafa;
}
